<!DOCTYPE html>
<html>
 <head>
 <title>Controller Example || ANGULARJS</title>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
 </head>
 <body>
     <div ng-app="myApp" ng-controller="myCtrl">
     	<p>First Name : <input type="text" ng-model="firstName"> </p>
     	<p>Last Name : <input type="text" ng-model="lastName"></p>
     	<p>Full Name : {{firstName +" "+ lastName}}</p>
     	
     </div>
 </body>
 <script type="text/javascript">
 		var app = angular.module('myApp', []);
 		app.controller('myCtrl', ['$scope', function ($scope) {
 			$scope.firstName = "Pavan",
 			$scope.lastName = "Dasari"
 		}])
  </script>
</html>