<!DOCTYPE html>
<html ng-app="myApp">
 <head>
 <title>Todo Example || ANGULARJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="https://github.com/jashkenas/underscore/blob/master/underscore-min.js"></script>
<script type="text/javascript" src="https://github.com/floydsoft/angular-underscore/blob/master/angular-underscore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>

<script type="text/javascript" src="todo.js"></script>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="todo.css">
 </head>
 <body>
<div ng-controller="TodoCtrl">
<h2>Total Todos : {{getTotalTodos()}}</h2>
<ul ng-class="unstyled">
	<li ng-repeat="todo in todos">
		<input type="checkbox" ng-model="todo.done">
		<span class="done-{{todo.done}}">{{todo.text}}</span>
	</li>
</ul>
<form class="form-horizontal">
	<input type="text" ng-model="formTodoText" ng-model-instant>
	<button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
</form>
<button class="btn-large" ng-click="trash()" ><i class="icone-trash"></i> Trash</button>
</div>
 </body>
 
</html>